.fulll-50 {
  background-color: #ece7f6;
}

.fulll-100 {
  background-color: #cec5e9;
}

.fulll-200 {
  background-color: #ae9edb;
}

.fulll-300 {
  background-color: #8e77ce;
}

.fulll-400 {
  background-color: #755ac3;
}

.fulll-500 {
  background-color: #5b3fb8;
}

.fulll-600 {
  background-color: #523ab2;
}

.fulll-700 {
  background-color: #4432a9;
}

.fulll-800 {
  background-color: #372ca1;
}

.fulll-900 {
  background-color: #1f2192;
}

.blue-sky-50 {
  background-color: #ece7f6;
}

.blue-sky-100 {
  background-color: #bddffb;
}

.blue-sky-200 {
  background-color: #95ccf9;
}

.blue-sky-300 {
  background-color: #6cb8f6;
}

.blue-sky-400 {
  background-color: #4fa8f4;
}

.blue-sky-500 {
  background-color: #379af2;
}

.blue-sky-600 {
  background-color: #328ce4;
}

.blue-sky-700 {
  background-color: #2c7ad1;
}

.blue-sky-800 {
  background-color: #2769bf;
}

.blue-sky-900 {
  background-color: #1e4ba0;
}

.malachite-50 {
  background-color: #e6f5ea;
}

.malachite-100 {
  background-color: #c4e5cb;
}

.malachite-200 {
  background-color: #9dd5aa;
}

.malachite-300 {
  background-color: #75c588;
}

.malachite-400 {
  background-color: #56b970;
}

.malachite-500 {
  background-color: #35ad57;
}

.malachite-600 {
  background-color: #2d9e4d;
}

.malachite-700 {
  background-color: #228c42;
}

.malachite-800 {
  background-color: #187b37;
}

.malachite-900 {
  background-color: #035c24;
}

.grenadine-50 {
  background-color: #ffebee;
}

.grenadine-100 {
  background-color: #ffcdd2;
}

.grenadine-200 {
  background-color: #f29a9a;
}

.grenadine-300 {
  background-color: #e97373;
}

.grenadine-400 {
  background-color: #f35350;
}

.grenadine-500 {
  background-color: #f74235;
}

.grenadine-600 {
  background-color: #e93935;
}

.grenadine-700 {
  background-color: #d72e2f;
}

.grenadine-800 {
  background-color: #c92728;
}

.grenadine-900 {
  background-color: #ba1b1c;
}

.pearl {
  background-color: #ffffff;
}

.grey-white {
  background-color: #f9f9f9;
}

.tin {
  background-color: #efefef;
}

.argent {
  background-color: #cfcfcf;
}

.steel-grey {
  background-color: #a2a1a1;
}

.grey {
  background-color: #5a5a5a;
}

.charcoal-grey {
  background-color: #333333;
}

.sapphire-50 {
  background-color: #e5ebfc;
}

.sapphire-100 {
  background-color: #bdcbf7;
}

.sapphire-200 {
  background-color: #8daaf2;
}

.sapphire-300 {
  background-color: #5989e9;
}

.sapphire-400 {
  background-color: #286fde;
}

.sapphire-500 {
  background-color: #0055d3;
}

.sapphire-600 {
  background-color: #004dc9;
}

.sapphire-700 {
  background-color: #0043bc;
}

.sapphire-800 {
  background-color: #0039b0;
}

.sapphire-900 {
  background-color: #00279a;
}

.duck-green-50 {
  background-color: #e2f4f4;
}

.duck-green-100 {
  background-color: #b7e3e3;
}

.duck-green-200 {
  background-color: #89d2d2;
}

.duck-green-300 {
  background-color: #5bc0be;
}

.duck-green-400 {
  background-color: #3cb1ae;
}

.duck-green-500 {
  background-color: #27a39e;
}

.duck-green-600 {
  background-color: #249690;
}

.duck-green-700 {
  background-color: #20857f;
}

.duck-green-800 {
  background-color: #1e756f;
}

.duck-green-900 {
  background-color: #1e756f;
}

.kiwi-50 {
  background-color: #f5f8e5;
}

.kiwi-100 {
  background-color: #e5eebf;
}

.kiwi-200 {
  background-color: #d5e396;
}

.kiwi-300 {
  background-color: #c5d86d;
}

.kiwi-400 {
  background-color: #b9d04f;
}

.kiwi-500 {
  background-color: #aec82e;
}

.kiwi-600 {
  background-color: #a3b728;
}

.kiwi-700 {
  background-color: #93a220;
}

.kiwi-800 {
  background-color: #838b19;
}

.kiwi-900 {
  background-color: #69660a;
}

.coral-50 {
  background-color: #fce8e6;
}

.coral-100 {
  background-color: #ffcab9;
}

.coral-200 {
  background-color: #ffa88b;
}

.coral-300 {
  background-color: #ff855d;
}

.coral-400 {
  background-color: #ff6a38;
}

.coral-500 {
  background-color: #fe4e0f;
}

.coral-600 {
  background-color: #f4480b;
}

.coral-700 {
  background-color: #e64104;
}

.coral-800 {
  background-color: #c92728;
}

.coral-900 {
  background-color: #c02b00;
}

.golden-straw-50 {
  background-color: #fffbe7;
}

.golden-straw-100 {
  background-color: #fff5c4;
}

.golden-straw-200 {
  background-color: #ffef9e;
}

.golden-straw-300 {
  background-color: #ffe879;
}

.golden-straw-400 {
  background-color: #ffe45e;
}

.golden-straw-500 {
  background-color: #fddf44;
}

.golden-straw-600 {
  background-color: #fbce41;
}

.golden-straw-700 {
  background-color: #f7b63b;
}

.golden-straw-800 {
  background-color: #f39f35;
}

.golden-straw-900 {
  background-color: #ec7829;
}
.text--fulll-50 {
  color: #ece7f6;
}

.text--fulll-100 {
  color: #cec5e9;
}

.text--fulll-200 {
  color: #ae9edb;
}

.text--fulll-300 {
  color: #8e77ce;
}

.text--fulll-400 {
  color: #755ac3;
}

.text--fulll-500 {
  color: #5b3fb8;
}

.text--fulll-600 {
  color: #523ab2;
}

.text--fulll-700 {
  color: #4432a9;
}

.text--fulll-800 {
  color: #372ca1;
}

.text--fulll-900 {
  color: #1f2192;
}

.text--blue-sky-50 {
  color: #ece7f6;
}

.text--blue-sky-100 {
  color: #bddffb;
}

.text--blue-sky-200 {
  color: #95ccf9;
}

.text--blue-sky-300 {
  color: #6cb8f6;
}

.text--blue-sky-400 {
  color: #4fa8f4;
}

.text--blue-sky-500 {
  color: #379af2;
}

.text--blue-sky-600 {
  color: #328ce4;
}

.text--blue-sky-700 {
  color: #2c7ad1;
}

.text--blue-sky-800 {
  color: #2769bf;
}

.text--blue-sky-900 {
  color: #1e4ba0;
}

.text--malachite-50 {
  color: #e6f5ea;
}

.text--malachite-100 {
  color: #c4e5cb;
}

.text--malachite-200 {
  color: #9dd5aa;
}

.text--malachite-300 {
  color: #75c588;
}

.text--malachite-400 {
  color: #56b970;
}

.text--malachite-500 {
  color: #35ad57;
}

.text--malachite-600 {
  color: #2d9e4d;
}

.text--malachite-700 {
  color: #228c42;
}

.text--malachite-800 {
  color: #187b37;
}

.text--malachite-900 {
  color: #035c24;
}

.text--grenadine-50 {
  color: #ffebee;
}

.text--grenadine-100 {
  color: #ffcdd2;
}

.text--grenadine-200 {
  color: #f29a9a;
}

.text--grenadine-300 {
  color: #e97373;
}

.text--grenadine-400 {
  color: #f35350;
}

.text--grenadine-500 {
  color: #f74235;
}

.text--grenadine-600 {
  color: #e93935;
}

.text--grenadine-700 {
  color: #d72e2f;
}

.text--grenadine-800 {
  color: #c92728;
}

.text--grenadine-900 {
  color: #ba1b1c;
}

.text--pearl {
  color: #ffffff;
}

.text--grey-white {
  color: #f9f9f9;
}

.text--tin {
  color: #efefef;
}

.text--argent {
  color: #cfcfcf;
}

.text--steel-grey {
  color: #a2a1a1;
}

.text--grey {
  color: #5a5a5a;
}

.text--charcoal-grey {
  color: #333333;
}

.text--sapphire-50 {
  color: #e5ebfc;
}

.text--sapphire-100 {
  color: #bdcbf7;
}

.text--sapphire-200 {
  color: #8daaf2;
}

.text--sapphire-300 {
  color: #5989e9;
}

.text--sapphire-400 {
  color: #286fde;
}

.text--sapphire-500 {
  color: #0055d3;
}

.text--sapphire-600 {
  color: #004dc9;
}

.text--sapphire-700 {
  color: #0043bc;
}

.text--sapphire-800 {
  color: #0039b0;
}

.text--sapphire-900 {
  color: #00279a;
}

.text--duck-green-50 {
  color: #e2f4f4;
}

.text--duck-green-100 {
  color: #b7e3e3;
}

.text--duck-green-200 {
  color: #89d2d2;
}

.text--duck-green-300 {
  color: #5bc0be;
}

.text--duck-green-400 {
  color: #3cb1ae;
}

.text--duck-green-500 {
  color: #27a39e;
}

.text--duck-green-600 {
  color: #249690;
}

.text--duck-green-700 {
  color: #20857f;
}

.text--duck-green-800 {
  color: #1e756f;
}

.text--duck-green-900 {
  color: #1e756f;
}

.text--kiwi-50 {
  color: #f5f8e5;
}

.text--kiwi-100 {
  color: #e5eebf;
}

.text--kiwi-200 {
  color: #d5e396;
}

.text--kiwi-300 {
  color: #c5d86d;
}

.text--kiwi-400 {
  color: #b9d04f;
}

.text--kiwi-500 {
  color: #aec82e;
}

.text--kiwi-600 {
  color: #a3b728;
}

.text--kiwi-700 {
  color: #93a220;
}

.text--kiwi-800 {
  color: #838b19;
}

.text--kiwi-900 {
  color: #69660a;
}

.text--coral-50 {
  color: #fce8e6;
}

.text--coral-100 {
  color: #ffcab9;
}

.text--coral-200 {
  color: #ffa88b;
}

.text--coral-300 {
  color: #ff855d;
}

.text--coral-400 {
  color: #ff6a38;
}

.text--coral-500 {
  color: #fe4e0f;
}

.text--coral-600 {
  color: #f4480b;
}

.text--coral-700 {
  color: #e64104;
}

.text--coral-800 {
  color: #c92728;
}

.text--coral-900 {
  color: #c02b00;
}

.text--golden-straw-50 {
  color: #fffbe7;
}

.text--golden-straw-100 {
  color: #fff5c4;
}

.text--golden-straw-200 {
  color: #ffef9e;
}

.text--golden-straw-300 {
  color: #ffe879;
}

.text--golden-straw-400 {
  color: #ffe45e;
}

.text--golden-straw-500 {
  color: #fddf44;
}

.text--golden-straw-600 {
  color: #fbce41;
}

.text--golden-straw-700 {
  color: #f7b63b;
}

.text--golden-straw-800 {
  color: #f39f35;
}

.text--golden-straw-900 {
  color: #ec7829;
}
