/* Typography */

/*Convertion Ration sp to rem for html */
$conversionRatioSpToRemWeb: 1/16; //! 0.0625;
$conversionRatioRemToPxWeb: 16;
// Scales
@function spToRem($sps) {
  @return $sps * $conversionRatioSpToRemWeb;
}
@function remToPx($rems) {
  @return $rems * $conversionRatioRemToPxWeb;
}
@function spacing($tracking, $px) {
  @return $tracking / $px;
}
@mixin mat-typo($type) {
  font-family: var(--typography-#{$type}-fontFamily);
  font-weight: var(--typography-#{$type}-fontWeight);
  font-size: var(--typography-#{$type}-fontSize);
  line-height: var(--typography-#{$type}-lineHeight);
  letter-spacing: var(--typography-#{$type}-letterSpacing);
}

@mixin format-title($type) {
  @include mat-typo($type);
  margin: 8px 0px;
}

/* Background */

@mixin backgroundColor($color) {
  background-color: $color;
}

@mixin foregroundColor($color) {
  color: $color;
}

@function variable($variable-name) {
  @return var(--#{$variable-name});
}
