.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.text--justify-all {
  text-align: justify-all;
}

.text--align-inherit {
  text-align: inherit;
}
.text--align-initial {
  text-align: initial;
}
.text--align-unset {
  text-align: unset;
}
